<html>
<h1>
    arrow function
</h1>

</html>
<script>
    function sum(a, b) {
        return a + b
    }
    let sum = (a, b) => a + b


    function ispositive(number) {
        return number >= 0
    }


    let ispositive = number => number >= 0



    function randomnumber() {
        return math.random
    }
    let randomnumber = () => math.random




    document.addEventListener('click', function() {
        console.log('click')
    })

    document.addEventListener('click', () => console.log('click'))




    class person {
        constructor(name) {
            this.name = name
        }

        printNameArrow() {
            setTimeout(() => {
                console.log('Arrow:' + this.name)

            }, 100)
        }
        printNameFunction() {
            setTimeout(function() {
                console.log('function:' + this.name)
            }, 100)
        }
    }
    let person = new person('bob')
    person.printNameArrow()
    person.printNameFunction()
    console.log(this.name)
</script>